.sc-documents .se-row:hover {
  cursor: pointer;
}

.sc-documents .se-badge {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.6); 
}

.sc-documents .se-title a {
  font-size: 20px;
  line-height: 21px;
  color: var(--default-text-color);
}

.sc-documents .se-more i {
  width: 23px;
  height: 23px;
  padding: 5px;
  border-radius: 60px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.05);
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  float: right;
}

.sc-documents .sc-grid .sc-grid {
  overflow: inherit;
}

.sc-documents .se-document-summary {
  border-bottom: none;
}

.sc-documents .se-document-fragment {
  display: table;
  width: 100%;
}

.sc-documents > .sc-grid > .se-row.se-document-fragment > .se-cell {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.sc-documents .se-document-fragment .se-badge {
  background: #fafafa;
  text-align: center;
}

.sc-documents .se-document-fragment:hover > .se-badge {
  background: #EEEEEE;
}

.sc-documents .sc-grid > .se-document-fragment:before, .sc-documents .sc-grid > .se-document-fragment:after {
  content: none;
  display: table;
}