.sc-documents .se-badge {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.6); 
}

.sc-documents .se-title a {
  font-size: 20px;
  line-height: 21px;
  color: var(--default-text-color);
}

.sc-documents .se-more i {
  width: 23px;
  height: 23px;
  padding: 5px;
  border-radius: 60px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.05);
  font-size: 14px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  float: right;
}