.sc-field-toggle {
  background: #fff;
  color: rgba(0, 0, 0, 0.75);
  height: 60px;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 12px;
  line-height: 36px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
  
.sc-field-toggle .se-toggle-item {
  height: 100%;
  background: #eee;
}

.sc-field-toggle .se-toggle-item .se-on {
  top: 4px;
  left: 2px;
  border-radius: 2px;
  width: 33%;
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
}

.sc-field-toggle .se-toggle-item .se-off {
  left: 34%;
  width: 32%;
  border-radius: 2px;
  position: absolute;
  top: 4px;
  right: 2px;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
}

.sc-field-toggle.se-not-nullable .se-toggle-item .se-on {
  width: 49%;
  left: 5px;
}

.sc-field-toggle.se-not-nullable .se-toggle-item .se-off {
  left: 50%;
  width: 49%;
}

.sc-field-toggle .se-toggle-item .se-unknown {
  left: 67%;
  width: 33%;
  border-radius: 2px;
  position: absolute;
  top: 4px;
  right: 2px;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
}

.sc-field-toggle .active {
  color: #fff;
  background: #BF464D;
}