// Substance styles
@import 'node_modules/substance/ui/styles/index';

html, body, #map {
  height: 100%;
  width: 100%;
  min-width: 960px;
}

.resource-component {
  position: relative;
  overflow: auto;
  padding: 20px;
  max-width: 1200px;
  min-height: 100px;
  margin: 0px auto;
  .helper {
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    &:hover {
    	text-decoration: none;
	    background-color: #ddd;
	    background-image: -webkit-linear-gradient(#eee, #ddd);
	    background-image: linear-gradient(#eee, #ddd);
	    border-color: #ccc;
    }
	}
  .details {
  	.helper.back {
  		position: absolute;
    	top: 13px;
    	cursor: pointer;
    	i {
    		padding-right: 10px;
    	}
  	}
  	.helper.map {
  		position: absolute;
    	top: 13px;
    	right: 20px;
    	i {
    		padding-left: 10px;
    	}
  	}
  	.resource {
  		padding: 50px 20px 10px;
		  font-size: 16px;
		  line-height: 24px;
		  min-height: 100px;
		  .resource-header {
		    position: relative;
		    padding-bottom: 10px;
		    color: rgb(80, 80, 80);
		    .location {
		      position: absolute;
			    right: 0px;
			    overflow: auto;
			    float: right;
			    text-align: center;
			    top: 0px;
			    font-size: 18px;
			    line-height: 40px;
			    padding: 10px 0px;
		    }
		    .name {
		      font-size: 24px;
			    line-height: 40px;
			    padding: 10px 0px;
		    }
		  }
		  .name {
	      font-size: 24px;
		    line-height: 40px;
		    padding: 10px 0px;
	    }
		  .description {
		    font-size: 16px;
    		line-height: 28px;
		  }
  	}
  	.resource.prison {
  		.resource-header {
		    position: relative;
		    padding-bottom: 10px;
		    color: rgb(80, 80, 80);
		    .resource-type {
		      font-weight: normal;
		      font-size: 18px;
		      line-height: 18px;
		      padding-top: 3px;
		    }
		    .location {
		      font-size: 18px;
		      line-height: 20px;
    			padding: 0px 10px;
		    }
		  }
  	}
  	.resource.person,
  	.resource.definition {
  		padding-top: 40px;
  	}
  }
  .stats {
  	padding: 20px;
    font-size: 20px;
    font-style: italic;
    color: #888;
  }
  .document {
	  padding: 20px;
	  position: relative;
	  clear: both;
	  .meta-info {
	    overflow: auto;
	    color: #888;
	    font-style: italic;
	    font-size: 13px;
	    > div {
	      float: left;
    		margin-right: 20px;
	    }
		}
		.photo {
		  float: left;
		  background-repeat: no-repeat;
		  background-position: 50%;
		  background-size: cover;
	    width: 200px;
	    height: 180px;
		  margin: 3px 20px 0px 0px;
		  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
		  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	  }
	  .title {
		  display: block;
		  font-weight: 600;
		  font-size: 18px;
		  line-height: 26px;
		  padding-bottom: 5px; 
		  a {
	  		font-weight: 600;
	  	}
	  }
	  .intro, .doc-stats {
		  font-style: italic;
		  color: rgba(0, 0, 0, 0.6);
		  padding-bottom: 10px;
		  line-height: 20px;
		  font-size: 13px; 
	  }
	}
}