.sc-toolbox {
  height: 50px;
  background: #f7fbf7;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  overflow: visible;
  z-index: 10;
}

.sc-toolbox .se-actions {
  padding: 10px;
  float: right;
  margin-right: 4px;
}

.sc-toolbox .se-actions button {
  font-weight: 400;
  display: inline-block;
  border-radius: 3px;
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
}

.sc-toolbox .se-content {
  padding: 10px;
}

.sc-toolbox .se-content input {
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.05);
  border-radius: 3px;
  display: inline-block;
  border: none;
  height: 30px;
}

.sc-toolbox .se-content .se-search {
  position: relative;
  width: 280px;
  float: left;
}

.sc-toolbox .se-content .se-search input {
  width: 100%;
  padding-left: 25px;
  padding-right: 5px;
}

.sc-toolbox .se-content .se-search input.se-with-option {
  padding-right: 43px;
}

.sc-toolbox .se-content .se-search input:focus {
  border: 1px solid #9cea8e;
}

.sc-toolbox .se-content .se-search i {
  position: absolute;
  left: 5px;
  top: 5px;
  color: #e8e8e8;
}

.sc-toolbox .se-content .se-search .se-fts-switch {
  position: absolute;
  width: 30px;
  height: 16px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  margin: 7px;
  right: 0px;
  line-height: 16px;
  text-align: center;
  font-size: 10px;
  color: #000;
  text-transform: uppercase;
  background: #f1f1f1;
  cursor: pointer;
  opacity: 0.3;
}

.sc-toolbox .se-content .se-search .se-fts-switch:hover {
  opacity: 0.7;
}

.sc-toolbox .se-content .se-search .se-fts-switch.se-active {
  opacity: 1;
}

.sc-toolbox .se-content .se-select {
  position: relative;
  display: block;
  float: right;
}

.sc-toolbox .se-content .se-select select {
  width: 100%;
  margin: 0;
  outline: none;
  padding: 6px 20px 6px 10px;
  background: transparent;
  border: 1px solid #E0E4E4;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sc-toolbox .se-content .se-select::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 2;
  pointer-events: none;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #666;
  margin-top: -3px;
}
