.sc-context-info .se-content {
  font-size: 13px;
  padding: 20px;
  line-height: 25px;
  white-space: pre-wrap;
}

.sc-context-info .se-content > * {
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.sc-context-info .se-meta-photo img {
  width: 100%;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.sc-context-info .se-meta-abstract {
  text-indent: 15px;
}

.sc-context-info .se-abstract-toggle {
  margin: 0px auto;
  border-radius: 3px;
}

.sc-context-info .se-section-title {
  padding-bottom: 5px;
  font-size: 15px;
  line-height: 25px
}