.sc-header {
  height: 40px;
  background: #fff;
  overflow: visible;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  z-index: 99;
}

.sc-header:after {
  background: linear-gradient(to right, rgba(180, 228, 32, 0.4), #9cea8e);
  content: '';
  width: 100%;
  position: absolute;
  top: 40px;
  height: 1px;
  left: 0;
}

.sc-header .se-actions {
  float: left;
}

.sc-header .se-actions .se-action {
  line-height: 40px;
  display: inline-block;
  padding: 0px 20px;
  color: rgba(0,0,0, 0.7);
}

.sc-header .se-actions .se-action:focus {
  color: rgba(0,0,0, 1);
  outline: none;
}

.sc-header .se-actions .se-action:hover {
  color: rgba(0,0,0, 1);
}

.sc-header .se-content {
  float: right;
}

.se-icon {
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  background: url(/publisher/assets/icon.png);
  background-size: initial;
  background-repeat: no-repeat;
  background-position: center;
}

.sc-header .sc-login-status {
  float: right;
  padding: 0px 15px;
  color: rgba(0, 0, 0, 0.7);
  line-height: 40px;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.sc-header .se-dropdown .se-caret {
  padding-left: 10px;
  font-size: 24px;
  position: relative;
  top: 3px;
}

.sc-header .se-dropdown ul {
  display: none;
  position: absolute;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-top: none;
  padding: 0px 15px;
  margin: 0px -16px;
  list-style: none;
  z-index: 99;
  width: 100%;
}

.sc-header .se-dropdown ul li {
  width: 100px;
  cursor: pointer;
}

.sc-header .se-dropdown:hover ul {
  display: block;
}