script#mainmenu(type='text/template')
	<ul>
	<% items.each(function(item) { %>
	<li id="<%= item.get('id') %>" data-url="<%= item.get('url') %>">
	<i class="fa fa-<%= item.get('icon') %> fa-2x"></i>
	<span class="title"><%= item.get('name') %></span>
	</li>
	<% }) %>
	</ul>
script#contextmenu(type='text/template')
	<% items.each(function(item) { %>
	<button type="button" class="btn btn-default" data-fn="<%= item.get('fn') %>"><i class="fa fa-<%= item.get('icon') %>"></i> <%= item.get('name') %></button>
	<% }) %>
script#subjects(type='text/template')
	<button id="goback" class="close-stack" data-toggle="tooltip" title="закрыть">×</button>
	<div id="page" class="category">
	<div class="row">
	<div class="sidebar col-lg-4 col-md-4 col-sm-4 col-xs-4">
	</div>
	<div class="subjects col-lg-7 col-md-7 col-sm-7 col-xs-7">
	<%= list %>
	</div>
	</div>
	</div>