script#mainmenu(type='text/template')
	<ul>
	<% items.each(function(item) { %>
	<li id="<%= item.get('id') %>" data-url="<%= item.get('url') %>">
	<i class="fa fa-<%= item.get('icon') %> fa-2x"></i>
	<span class="title"><%= item.get('name') %></span>
	</li>
	<% }) %>
	</ul>
script#contextmenu(type='text/template')
	<% items.each(function(item) { %>
	<button type="button" class="btn btn-default" data-fn="<%= item.get('fn') %>"><i class="fa fa-<%= item.get('icon') %>"></i> <%= item.get('name') %></button>
	<% }) %>
script#subjectsLayout(type='text/template')
	<div id="context-panel" class="context-panel"></div>
	<div class="sidebar"></div>
script#subjectsTreeLayout(type='text/template')
	<div id="context-panel" class="context-panel"></div>
	<div class="tree"></div>