script#mainmenu(type='text/template')
	<ul>
	<% items.each(function(item) { %>
	<li id="<%= item.get('id') %>" data-url="<%= item.get('url') %>">
	<i class="fa fa-<%= item.get('icon') %> fa-2x"></i>
	<span class="title"><%= item.get('name') %></span>
	</li>
	<% }) %>
	</ul>
script#contextmenu(type='text/template')
	<% items.each(function(item) { %>
	<button type="button" class="btn btn-default" data-fn="<%= item.get('fn') %>"><i class="fa fa-<%= item.get('icon') %>"></i> <%= item.get('name') %></button>
	<% }) %>
script#subjectsLayout(type='text/template')
	<div id="context-panel" class="context-panel"></div>
	<div class="sidebar"></div>
script#subjectsTreeLayout(type='text/template')
	<div id="context-panel" class="context-panel"><input type="text" id="search_subject" placeholder="Type to search ..."/></div>
	<div class="tree"></div>script#subjectModal(type='text/template')
	<div class="modal-body">
	<textarea id="description" placeholder="Describe subject here..."><% if (typeof(description) != "undefined"){ %><%= description %><% } %></textarea>
	</div>
	<div class="modal-footer">
	<a href="#" class="btn cancel">Cancel</a>
	<a href="#" class="btn ok">Save</a>
	</div>
	</script>
script#subjectDialog(type='text/template')
	<div class="dialog-header">
	<%= title %>
	</div>
	<div class="dialog-body">
	<%= description %>
	</div>
	<div class="dialog-footer">
	<a href="#" class="bbm-button run"><%= description %></a>
	<a href="#" class="bbm-button cancel">Cancel</a>
	</div>
	</script>