/* Substance Component styles */
@import '../substance/substance.css';
/* Publisher Component styles */
@import './publisher.css';
/* You may want to use your own reset and pagestyle */
@import '../substance/substance-reset.css';
@import '../substance/substance-pagestyle.css';
/* Using url here, so font-awesome does not get bundled. */
@import url('../font-awesome/css/font-awesome.min.css');
body { overflow: hidden; }
.sc-publisher { position: absolute; left: 0px; right: 0px; bottom: 0px; top: 0px; }