/* Menu */

#topbar nav {
  float: left;
  overflow-y: hidden;
  overflow-x: hidden;
  display: block;
}

nav.topbar a {
  display: block;
  width: 120px;
  font-size: 10px;
  line-height: 12px;
  text-decoration: none;
  text-align: center;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  opacity: .7;
  font-weight: 500;
  cursor: pointer;
  height: 30px;
  -webkit-font-smoothing: antialiased;
  color: rgba(255,255,255,.625);
  -webkit-transition: all .18s ease-in-out;
  -moz-transition: all .18s ease-in-out;
  -o-transition: all .18s ease-in-out;
  transition: all .18s ease-in-out;
  background: rgba(0,0,0,.1);
  padding: 3px 10px;
  float: left;
}

nav.topbar a:hover, nav.topbar a.active {
  color:#fff;
  opacity: 1;
  background: rgba(255,255,255,.2);
}

nav.topbar a i {
  float: left;
}

nav.topbar .navicon {
  width: 35px;
  height: 35px;
  display: block;
  float: left;
  margin-left: 5px;
  line-height: normal;
  vertical-align: baseline;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

nav.topbar span.title {
  line-height: 20px;
  font-size: 13px;
  display: block;
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  overflow: hidden;
  max-height: 100%;
  height: 30px;
  background-image: linear-gradient(to right,#444 50%,#A0A0A0 100%);
  -webkit-box-shadow: 0 8px 6px -6px #949494;
  -moz-box-shadow: 0 8px 6px -6px #949494;
  box-shadow: 0 8px 6px -6px #949494;
}

#topbar header {
  background: rgba(255,255,255,.04);
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
  padding: 0 10px;
  height: 30px;
  line-height: 27px;
  font-size: 23px;
  text-align: center;
  float: left;
  width: 35px;
}

/* USER MENU */

/* USER MENU */

.user-section {
  background: rgba(0,0,0,.1);
}

.user-section .title {
  float: right;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  font-size: 18px;
  color: #444;
  font-weight: 200;
  line-height: 34px;
}

.user-section .userpic,
.user-section .username  {
  height: 30px;
  float: right;
}

.user-section .username {
  line-height: 22px;
  font-size: 18px;
  text-align: center;
  height: 30px;
  width: 30px;
}

.user-section .username span {
  max-width: 80px;
  overflow: hidden;
  display: block;
  line-height: 12px;
  float: left;
}

.user-section .username a {
  color: #E7E7E7;
  padding: 4px;
  display: block;
  opacity: .7;
  background: rgba(0,0,0,.1);
}

.user-section .username a:hover {
  opacity: 1;
  background: rgba(255,255,255,.2);
}

.user-section .userpic img {
  height: 30px;
  width: 30px;
}

.user-section .userpic a {
  color: #333;
  position: relative;
  top: 3px;
  padding-left: 7px;
}

#container .writer-component {
  top: 30px;
}