doctype html
html
  head
    title Archivist Maps
    link(rel='stylesheet', href='/assets/styles/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/assets/styles/nprogress/nprogress.css')
    link(rel='stylesheet', href='/assets/styles/mapbox/mapbox.css')
    link(rel='stylesheet', href='/assets/styles/leaflet/MarkerCluster.css')
    link(rel='stylesheet', href='/assets/styles/leaflet/MarkerCluster.Archivist.css')
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic', rel='stylesheet', type='text/css')
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/assets/styles/main-menu.css')
    link(href='/map/map.css', rel='stylesheet', type='text/css')
    // Libs
    // App
    script(type='text/javascript')
      | window.mediaServer = "#{media}";
      | window.mapboxToken = "#{mapbox_token}";
      | window.locationId = "#{locationId}";
      | window.mapId = "{mapbox_mapid}"
    script(src='/map/map.js')
  body
    include public/menu
    #map_container
    script(type='text/javascript')
      | $("li.maps").addClass("active");