extends platform/layout

block mainContent
	div#main
		div#topbar
			header.branding
				| Archivist
			nav.topbar
			div.user-section
				div.username
					a(href='/logout')
						i.fa.fa-power-off
				div.userpic
					img(src='#{user.picture}')
		div#data-container
			div.data-toolbox
				div.toolbox
					div#context-panel
					div#meter
					div.counter
			div#stackView.stackViewContainer