doctype html
html
	include error/header
	body.login
		div.overlay
		div.panel
			h2 #{title}
			p !{msg}
		script(type='text/javascript')
			|	var session = !{JSON.stringify(session)};
			|	if(session) localStorage.setItem('session', JSON.stringify(session));
			| window.location.href = '/';