.sc-person {
  background: rgba(11, 157, 217, 0.1);
  border-bottom: 1px solid rgba(11, 157, 217, 0.3);
  cursor: pointer;
  padding: 0px 1px;
  color: inherit;
}

.sc-person.sm-highlighted {
  background: rgba(11, 157, 217, 0.4);
  border-bottom: 1px solid rgba(11, 157, 217, 0.7);
}

.se-highlight.sm-person {
  background-color: rgb(11, 157, 217);
}

.se-entity-entries .sc-entity-entry.se-person.se-active,
.se-entity-entries .sc-entity-entry.se-person.se-active:hover {
  border-left: 2px solid rgb(11, 157, 217);
}

.se-entity-entries .sc-entity-entry.se-person:hover {
  border-left: 2px solid rgba(11, 157, 217, 0.3);
}

.se-entity-entries .sc-entity-entry.se-person .se-title {
  margin-bottom: 10px;
  margin-right: 60px;
}

.se-entity-entries .sc-entity-entry.se-person .se-description {
  margin-right: 0px;
}

.sc-entity-entry.se-person .se-person-link {
  right: 20px;
}