.sc-context-source {
  top: 300px;
  position: absolute;
  margin: 0 20px;
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
}

.sc-context-source .se-technical-info {
  font-size: 13px;
  line-height: 25px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  white-space: pre-wrap;
} 

.sc-context-source .se-technical-info .se-meta-prop {
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 13px;
}

.sc-context-source .se-technical-info .se-meta-prop .se-meta-label {
  float: left;
  width: 130px;
  color: #757575;
}

.sc-context-source .se-technical-info .se-meta-prop .se-meta-value {
  margin-left: 160px;
}

.sc-overlay-player {
  position: absolute;
  width: 560px;
  z-index: 99;
  top: 40px;
  padding: 20px;
}