.sc-metadata-editor .se-field-editor {
  clear: both;
}

.sc-metadata-editor .se-field-group {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.sc-metadata-editor .se-field-group .se-group-name {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.sc-metadata-editor .se-field-editor .se-collapsible-label {
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  color: #777;
  margin-bottom: 5px;
}

.sc-metadata-editor .se-field-editor .se-collapsible-label .fa {
  width: 12px;
}

.sc-metadata-editor .se-field-editor.se-checkboxes-editor {
  margin: 10px 0px;
  font-size: 14px;
}

.sc-metadata-editor .se-field-editor.se-checkboxes-editor input {
  min-height: inherit;
}

.sc-metadata-editor .se-field-editor .sc-select-editor select {
  width: 100%;
}

.sc-metadata-editor .se-field-editor .se-editor {
  font-size: 14px;
  border: 1px solid #ddd;
  padding: 6px;
  background: #fff;
}

.sc-metadata-editor .se-field-editor .se-description {
  font-size: 12px;
  line-height: 25px;
  clear: both;
}

.sc-metadata-editor .sc-reference-editor {
  min-height: 40px;
}

.sc-metadata-editor .sc-reference-editor .se-toggle-dialog {
  float: left;
  padding: 9px 14px 4px 0px;
  cursor: pointer;
}

.sc-metadata-editor .sc-reference-editor .se-tag .se-value {
  display: block;
  float: left;
  background-color: rgba(193, 193, 193, 0.5);
  padding: 3px 5px;
  border-radius: 3px;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.sc-metadata-editor .sc-reference-editor .se-tag .se-value.se-hihglight-remove {
  background-color: red;
  color: #fff;
}

.sc-metadata-editor .sc-reference-editor .se-tag .se-value.se-hihglight-remove:after {
  content: "×";
  margin-left: 5px;
}
