.sc-definition {
  background: rgba(11, 36, 217, 0.1);
  border-bottom: 1px solid rgba(11, 36, 217, 0.3);
  cursor: pointer;
  padding: 0px 1px;
  color: inherit;
}

.sc-definition.sm-highlighted {
  background: rgba(11, 36, 217, 0.3);
  border-bottom: 1px solid rgba(11, 36, 217, 0.7);
}

.se-highlight.sm-definition {
  background-color: rgb(11, 36, 217);
}