.sc-definition {
  background: rgba(11, 36, 217, 0.1);
  border-bottom: 1px solid rgba(11, 36, 217, 0.3);
  cursor: pointer;
  padding: 0px 1px;
  color: inherit;
}

.sc-definition.sm-highlighted {
  background: rgba(11, 36, 217, 0.3);
  border-bottom: 1px solid rgba(11, 36, 217, 0.7);
}

.se-highlight.sm-definition {
  background-color: rgb(11, 36, 217);
}

.se-entity-entries .sc-entity-entry.se-definition.se-active,
.se-entity-entries .sc-entity-entry.se-definition.se-active:hover {
  border-left: 2px solid rgb(11, 36, 217);
}

.se-entity-entries .sc-entity-entry.se-definition:hover {
  border-left: 2px solid rgba(11, 36, 217, 0.3);
}

.se-entity-entries .sc-entity-entry.se-definition .se-title {
  margin-bottom: 10px;
  margin-right: 60px;
}

.se-entity-entries .sc-entity-entry.se-definition .se-description {
  margin-right: 0px;
}

.sc-entity-entry.se-definition .se-resource-link {
  right: 20px;
}