/* Substance-forms specific styles */
@import './minimal-switch-text-type/_minimal-switch-text-type.css';
@import './xref/_xref.css';

.sc-overlay {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
}

.sc-rich-text-area-editor .sc-container-editor > * {
  margin-bottom: 20px;
}