.sc-grid {
  overflow: scroll;
  height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 100px; 
}

.se-row {
  border-bottom: solid 1px #DDDDDD;
}

.se-row:hover {
  background: #EEEEEE;
}

.se-cell {
  min-height: 30px;
  padding: 15px 10px;
  font-size: 13px;
}