.sc-grid {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  position: relative;
}

.se-row {
  border-bottom: 1px solid #e6e6e6;
}

.se-row:hover {
  background: #EEEEEE;
  cursor: pointer;
}

.se-cell {
  min-height: 30px;
  padding: 15px 10px;
  font-size: 13px;
}

.sc-grid .se-row .se-badge {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.6); 
}

.sc-grid .se-row .se-title a {
  font-size: 20px;
  line-height: 21px;
  color: rgba(0,0,0,0.75);
}

.sc-grid .se-row .se-additional {
  padding: 12px 10px;
  position: relative;
  display: inline-block;
}

.sc-grid .se-row .se-more:before {
  display: inline-block;
  content: "\f142";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 2px;
  vertical-align: middle;
  padding: 6px;
  border: 1px solid #d0d0d0;
  color: #d0d0d0;
  font-family: "FontAwesome";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sc-grid .se-row .se-more:focus:before {
  border: 1px solid #444;
  color: #444;
}

.sc-grid .se-row .se-more:focus {
  pointer-events: none;
}

.sc-grid .se-row .se-more:focus .se-more-content {
  opacity: 1;
  visibility: visible;
}

.sc-grid .se-row .se-more-content {
  pointer-events: auto;
  position: absolute;
  z-index: 1;

  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s;
}

.sc-grid .se-row .se-more.no-pointer-events {
  pointer-events: auto !important;
}

.sc-grid .se-row .se-more.no-visibility .se-more-content {
  visibility: visible !important;
  display: none;
}

.sc-grid .se-row .se-more.no-visibility:focus .se-more-content {
  display: block;
}

.sc-grid .se-row .se-more.no-opacity .se-more-content {
  opacity: 1 !important;
}

/*
Eye candy 
( colors courtesy of https://kuler.adobe.com/try-color-theme-3350110 )
*/

.sc-grid .se-row .se-more .se-more-content {
  position: absolute;
  right: 10px;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 6px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.sc-grid .se-row .se-more .se-more-content li {
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.sc-grid .se-row .se-more .se-more-content button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: inherit;
  outline: 0;
  cursor: pointer;
  width: 100%;
  padding: 3px 20px;
}

.sc-grid .se-row .se-more .se-more-content button:hover {
  color: #262626;
  background-color: #f5f5f5;
  cursor: pointer;
}