/* Rounded corners */
/* Variables
-------------------------------------------------- */
/* Reset adapted from http://meyerweb.com/eric/tools/css/reset/
------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* remember to define focus styles. Hee Haw */
:focus {
  outline: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Special button reset */
/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  display: block;
  text-align: left;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.fill-dark {
  background: #404040; }

.fill-gray {
  background: #404040; }

.fill-light {
  background: #f8f8f8; }

.fill-white {
  background: #fff; }

/* Inline Elements: Defaults
------------------------------------------------------- */
body,
input,
textarea {
  color: rgba(0, 0, 0, 0.75);
  font: 16px/20px "Source Sans Pro", Arial;
  min-height: 30px;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', Arial;
  font-weight: 600;
  margin: 0; }

h1 {
  font-size: 30px;
  line-height: 40px; }

h2 {
  font-size: 22px;
  line-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px; }

h3 {
  font-size: 15px;
  line-height: 20px; }

h4, h5, h6 {
  font-size: 12px;
  line-height: 20px; }

p {
  margin-bottom: 20px; }

p:last-child {
  margin-bottom: 0; }

.strong,
strong {
  font-weight: 600; }

.emphasis, em {
  font-style: italic; }

/* Links */
a {
  color: #3887BE;
  text-decoration: none; }

a.active, a:hover {
  color: #63b6e5; }

.dark a, a.dark {
  color: rgba(255, 255, 255, 0.5); }

a.dark.active, .dark a.active, a.dark:hover, .dark a:hover {
  color: white; }

a.quiet {
  color: rgba(0, 0, 0, 0.5); }

a.quiet.active, a.quiet:hover {
  color: rgba(0, 0, 0, 0.75); }

.dark a.quiet, a.quiet.dark {
  color: white; }

.dark a.quiet:hover, a.quiet.dark.active, a.quiet.dark:hover {
  color: rgba(255, 255, 255, 0.5); }

/* Buttons */
/* Buttons (generic)
-------------------------------------------------- */
.button {
  font-weight: 600;
  height: 30px;
  min-width: 30px;
  padding: 0px 10px;
  text-align: center; }
  .button:hover {
    background: rgba(0, 0, 0, 0.2); }
  .button.plain {
    background: none;
    color: #1B6685; }
    .button.plain:hover {
      color: #0b9dd9; }
  .button.loud {
    background: #4A90E2;
    color: rgba(255, 255, 255, 0.8); }
    .button.loud:hover {
      background: #397AC6;
      color: #fff; }

/* Helpers
-------------------------------------------------- */
.pad {
  padding: 20px; }

.limiter {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.hidden {
  display: none !important; }

/* Typography */
.small {
  font-size: 14px;
  line-height: 17px; }

.large {
  font-size: 17px;
  line-height: 20px; }

.dark {
  color: #fff; }

/* Borders */
.border {
  border: 1px solid #ddd; }

.border-left {
  border-left: 1px solid #ddd; }

.border-right {
  border-right: 1px solid #ddd; }

.border-top {
  border-top: 1px solid #ddd; }

.border-bottom {
  border-bottom: 1px solid #ddd; }

/* Deemphasis */
.quiet {
  color: rgba(0, 0, 0, 0.5); }

.dark .quiet {
  color: rgba(255, 255, 255, 0.5); }

/* Floating */
.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

/* Clearfix - see http://www.positioniseverything.net/easyclearing.html */
.clearfix {
  display: block; }

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Disabled style */
.disabled {
  opacity: 0.2;
  cursor: default; }

.shadow {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15); }

/* Menubar
-------------------------------------------------- */
.menubar {
  height: 40px; }
  .menubar .menu-group {
    float: left;
    margin-left: 5px; }
  .menubar .pill {
    font-weight: 600;
    padding: 0px 10px;
    float: left;
    margin: 5px;
    height: 30px;
    min-width: 30px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
    .menubar .pill:hover {
      background: rgba(0, 0, 0, 0.05); }
    .menubar .pill.active {
      background: rgba(0, 0, 0, 0.2); }
  .menubar.dark .pill.active, .menubar.dark .pill:hover {
    background: rgba(255, 255, 255, 0.1); }

/* Toolbar
-------------------------------------------------- */
.toolbar {
  height: 40px;
  /* Toolbar Tool
  ---------------------------- */
  /* Toolbar dropdown
  ---------------------------- */
  /* Toolbar Select
  ---------------------------- */ }
  .toolbar .tool-group {
    float: left;
    margin-right: 10px; }
  .toolbar input {
    margin: 5px;
    margin-left: 20px;
    min-width: 600px;
    border: none; }
  .toolbar .button {
    float: left;
    margin: 5px;
    height: 30px;
    min-width: 30px;
    text-align: center;
    color: inherit; }
  .toolbar .button:hover {
    background: rgba(0, 0, 0, 0.05); }
  .toolbar .button.disabled:hover {
    background: none; }
  .toolbar .button.active {
    background: rgba(0, 0, 0, 0.1); }
  .toolbar .dropdown, .toolbar .select {
    overflow: visible;
    position: relative;
    float: left; }
    .toolbar .dropdown .toggle, .toolbar .select .toggle {
      height: 30px;
      padding: 0px 10px;
      line-height: 30px;
      margin: 5px;
      display: block; }
    .toolbar .dropdown:not(.disabled) .toggle:after, .toolbar .select:not(.disabled) .toggle:after {
      content: " \f0d7";
      padding-left: 10px;
      float: right;
      font-family: FontAwesome; }
    .toolbar .dropdown .options, .toolbar .select .options {
      display: none;
      position: absolute;
      top: 40px;
      min-width: 150px; }
      .toolbar .dropdown .options .option, .toolbar .select .options .option {
        display: block;
        padding: 5px 10px;
        width: 100%; }
      .toolbar .dropdown .options .option:hover, .toolbar .select .options .option:hover {
        background: rgba(0, 0, 0, 0.05); }
    .toolbar .dropdown.open .options, .toolbar .open.select .options {
      display: block; }
  .toolbar .select .toggle {
    background: white;
    border: 1px solid #ddd; }

/* Modal
-------------------------------------------------- */
.modal {
  z-index: 500000;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6); }
  .modal .body {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    background: white;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8); }
    .modal .body .header {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      height: 40px;
      border-bottom: 1px solid #ddd; }
      .modal .body .header .title {
        line-height: 40px;
        font-weight: 600;
        padding-left: 20px; }
    .modal .body .content {
      position: absolute;
      overflow: auto;
      top: 40px;
      left: 0px;
      right: 0px;
      bottom: 0px; }
  .modal.medium .body {
    max-width: 800px; }

/* Rounded corners */
/* Variables
-------------------------------------------------- */
/* Reset adapted from http://meyerweb.com/eric/tools/css/reset/
------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* remember to define focus styles. Hee Haw */
:focus {
  outline: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Special button reset */
/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  display: block;
  text-align: left;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.fill-dark {
  background: #404040; }

.fill-gray {
  background: #404040; }

.fill-light {
  background: #f8f8f8; }

.fill-white {
  background: #fff; }

/* Inline Elements: Defaults
------------------------------------------------------- */
body,
input,
textarea {
  color: rgba(0, 0, 0, 0.75);
  font: 16px/20px "Source Sans Pro", Arial;
  min-height: 30px;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', Arial;
  font-weight: 600;
  margin: 0; }

h1 {
  font-size: 30px;
  line-height: 40px; }

h2 {
  font-size: 22px;
  line-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px; }

h3 {
  font-size: 15px;
  line-height: 20px; }

h4, h5, h6 {
  font-size: 12px;
  line-height: 20px; }

p {
  margin-bottom: 20px; }

p:last-child {
  margin-bottom: 0; }

.strong,
strong {
  font-weight: 600; }

.emphasis, em {
  font-style: italic; }

/* Links */
a {
  color: #3887BE;
  text-decoration: none; }

a.active, a:hover {
  color: #63b6e5; }

.dark a, a.dark {
  color: rgba(255, 255, 255, 0.5); }

a.dark.active, .dark a.active, a.dark:hover, .dark a:hover {
  color: white; }

a.quiet {
  color: rgba(0, 0, 0, 0.5); }

a.quiet.active, a.quiet:hover {
  color: rgba(0, 0, 0, 0.75); }

.dark a.quiet, a.quiet.dark {
  color: white; }

.dark a.quiet:hover, a.quiet.dark.active, a.quiet.dark:hover {
  color: rgba(255, 255, 255, 0.5); }

/* Buttons */
/* Buttons (generic)
-------------------------------------------------- */
.button {
  font-weight: 600;
  height: 30px;
  min-width: 30px;
  padding: 0px 10px;
  text-align: center; }
  .button:hover {
    background: rgba(0, 0, 0, 0.2); }
  .button.plain {
    background: none;
    color: #1B6685; }
    .button.plain:hover {
      color: #0b9dd9; }
  .button.loud {
    background: #4A90E2;
    color: rgba(255, 255, 255, 0.8); }
    .button.loud:hover {
      background: #397AC6;
      color: #fff; }

/* Helpers
-------------------------------------------------- */
.pad {
  padding: 20px; }

.limiter {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.hidden {
  display: none !important; }

/* Typography */
.small {
  font-size: 14px;
  line-height: 17px; }

.large {
  font-size: 17px;
  line-height: 20px; }

.dark {
  color: #fff; }

/* Borders */
.border {
  border: 1px solid #ddd; }

.border-left {
  border-left: 1px solid #ddd; }

.border-right {
  border-right: 1px solid #ddd; }

.border-top {
  border-top: 1px solid #ddd; }

.border-bottom {
  border-bottom: 1px solid #ddd; }

/* Deemphasis */
.quiet {
  color: rgba(0, 0, 0, 0.5); }

.dark .quiet {
  color: rgba(255, 255, 255, 0.5); }

/* Floating */
.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

/* Clearfix - see http://www.positioniseverything.net/easyclearing.html */
.clearfix {
  display: block; }

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Disabled style */
.disabled {
  opacity: 0.2;
  cursor: default; }

.shadow {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15); }

/* Menubar
-------------------------------------------------- */
.menubar {
  height: 40px; }
  .menubar .menu-group {
    float: left;
    margin-left: 5px; }
  .menubar .pill {
    font-weight: 600;
    padding: 0px 10px;
    float: left;
    margin: 5px;
    height: 30px;
    min-width: 30px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
    .menubar .pill:hover {
      background: rgba(0, 0, 0, 0.05); }
    .menubar .pill.active {
      background: rgba(0, 0, 0, 0.2); }
  .menubar.dark .pill.active, .menubar.dark .pill:hover {
    background: rgba(255, 255, 255, 0.1); }

/* Toolbar
-------------------------------------------------- */
.toolbar {
  height: 40px;
  /* Toolbar Tool
  ---------------------------- */
  /* Toolbar dropdown
  ---------------------------- */
  /* Toolbar Select
  ---------------------------- */ }
  .toolbar .tool-group {
    float: left;
    margin-right: 10px; }
  .toolbar input {
    margin: 5px;
    margin-left: 20px;
    min-width: 600px;
    border: none; }
  .toolbar .button {
    float: left;
    margin: 5px;
    height: 30px;
    min-width: 30px;
    text-align: center;
    color: inherit; }
  .toolbar .button:hover {
    background: rgba(0, 0, 0, 0.05); }
  .toolbar .button.disabled:hover {
    background: none; }
  .toolbar .button.active {
    background: rgba(0, 0, 0, 0.1); }
  .toolbar .dropdown, .toolbar .select {
    overflow: visible;
    position: relative;
    float: left; }
    .toolbar .dropdown .toggle, .toolbar .select .toggle {
      height: 30px;
      padding: 0px 10px;
      line-height: 30px;
      margin: 5px;
      display: block; }
    .toolbar .dropdown:not(.disabled) .toggle:after, .toolbar .select:not(.disabled) .toggle:after {
      content: " \f0d7";
      padding-left: 10px;
      float: right;
      font-family: FontAwesome; }
    .toolbar .dropdown .options, .toolbar .select .options {
      display: none;
      position: absolute;
      top: 40px;
      min-width: 150px; }
      .toolbar .dropdown .options .option, .toolbar .select .options .option {
        display: block;
        padding: 5px 10px;
        width: 100%; }
      .toolbar .dropdown .options .option:hover, .toolbar .select .options .option:hover {
        background: rgba(0, 0, 0, 0.05); }
    .toolbar .dropdown.open .options, .toolbar .open.select .options {
      display: block; }
  .toolbar .select .toggle {
    background: white;
    border: 1px solid #ddd; }

/* Modal
-------------------------------------------------- */
.modal {
  z-index: 500000;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.6); }
  .modal .body {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    background: white;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.8); }
    .modal .body .header {
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      height: 40px;
      border-bottom: 1px solid #ddd; }
      .modal .body .header .title {
        line-height: 40px;
        font-weight: 600;
        padding-left: 20px; }
    .modal .body .content {
      position: absolute;
      overflow: auto;
      top: 40px;
      left: 0px;
      right: 0px;
      bottom: 0px; }
  .modal.medium .body {
    max-width: 800px; }

/* Layout stuff
---------------------------------
*/
body, html {
  overflow: hidden; }

#container .panel-wrapper {
  overflow: auto; }

/* Writer Component
-----------------------------------------------------*/
.writer-component {
  position: absolute;
  left: 0px;
  right: 0px;
  overflow: hidden;
  /*bottom: 25px;*/
  bottom: 25px;
  top: 0px; }

.main-container {
  float: left;
  width: 60%;
  height: 100%;
  background: #fff;
  position: relative; }

.resource-container {
  position: relative;
  float: right;
  border-left: 1px solid #ddd;
  width: 40%;
  height: 100%;
  background-color: #fafafa;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05); }

.writer-component .context-toggles {
  height: 40px;
  border-bottom: 1px solid #ddd; }

.writer-component .context-toggles a.toggle-context {
  display: block;
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  color: #444;
  font-size: 12px;
  font-weight: 600; }

.writer-component .context-toggles .dialog {
  float: right;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  background: #444;
  color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.writer-component .context-toggles .dialog.editSubjectReference {
  background: #91bb04; }

.writer-component .context-toggles .dialog.tagentity {
  background: #0b9dd9; }

.writer-component .context-toggles .dialog .close-dialog {
  padding: 5px 10px;
  color: rgba(255, 255, 255, 0.4); }

.writer-component .context-toggles .dialog .close-dialog:hover {
  color: white; }

.writer-component .context-toggles a.toggle-context:hover {
  background: #eee;
  border-bottom: 1px solid #bbb; }

.writer-component .context-toggles a.toggle-context.active {
  background: #eee;
  border-bottom: 1px solid #444; }

/* Panels (Context panel)
-----------------------------------------------------*/
.panel {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px; }

.panel .panel-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  line-height: 24px; }

/* Dialog Panels (aka modal panels)
-----------------------------------------------------*/
.panel.dialog {
  top: 0px;
  background: #F8F8F8; }

.panel.dialog .dialog-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  height: 40px;
  border-bottom: 1px solid #ddd; }

.panel.dialog .dialog-header .back {
  padding-left: 20px;
  display: block;
  float: left;
  line-height: 40px;
  font-size: 16px; }

.panel.dialog .dialog-header .label {
  padding: 0px 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 39px;
  /*color: white;*/
  float: left; }

.panel.dialog .dialog-header .actions {
  overflow: hidden;
  float: right; }

.panel.dialog .dialog-header .actions a {
  display: block;
  float: left;
  font-weight: 600;
  padding: 0px 4px;
  font-size: 12px;
  line-height: 40px;
  margin-right: 20px; }

.panel.dialog .panel-content {
  top: 40px; }

/* Content Tools
-----------------------------------------------------*/
.content-tools-component {
  height: 40px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  z-index: 40000;
  left: 0px;
  right: 0px;
  top: 0px; }

/* Text Tool has individual styles */
/* Text Tool styles
-----------------------------------------------------*/
.text-tool-component.select .toggle {
  width: 140px; }

/* Special styles */
.content-tools-component .option.heading1 {
  font-size: 24px;
  font-weight: 600; }

.content-tools-component .option.heading2 {
  font-size: 20px;
  font-weight: 600; }

.content-tools-component .option.heading3 {
  font-size: 16px;
  font-weight: 600; }

/* Generic Panel styles
-----------------------------------------------------*/
.content-panel-component .panel-content-inner {
  position: relative;
  padding: 40px;
  padding-right: 80px; }

.content-panel-component .document-title {
  padding-bottom: 40px;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px; }

.content-panel-component .document-title .strong {
  text-decoration: underline; }

.content-panel-component .container-node .nodes > .content-node.paragraph {
  padding-bottom: 20px; }

.content-node.heading {
  padding-bottom: 20px;
  font-weight: 600; }

.content-node.heading.level-1 {
  font-size: 24px;
  line-height: 28px; }

.content-node.heading.level-2 {
  font-size: 20px; }

.content-node.heading.level-3 {
  font-size: 16px; }

/* Unsupported Nodes
-----------------------------------------------------*/
.unsupported {
  cursor: not-allowed;
  background: #eee; }

/* Table nodes
-----------------------------------------------------*/
.table {
  width: 100%;
  margin: 10px 0px;
  border-collapse: collapse;
  table-layout: fixed; }

.table th, .table td {
  border: 1px solid #efefef; }

.table th {
  font-weight: bold;
  background: #eee;
  text-align: center; }

.table td {
  padding: 2px 5px; }

.table .selected {
  background-color: cyan; }

.table.table-editing-mode .text-property {
  cursor: default; }

/* For debugging purposes */
.scanline {
  position: absolute;
  top: 50px;
  left: 40px;
  width: 10px;
  height: 2px;
  background: #ccc; }

/* Content Editor
-----------------------------------------------------*/
.content-panel-component {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 20px; }

/* Overrides .panel .panel-content */
.content-panel-component .panel-content {
  left: 20px; }

/* Hide native scroll bar */
.content-panel-component .panel-content::-webkit-scrollbar {
  width: 0px;
  height: 0px; }

.content-panel-component .panel-content::-webkit-scrollbar-thumb {
  background-color: transparent; }

/* Scrollbar component
-----------------------------------------------------*/
.scrollbar-component {
  position: absolute;
  left: 0px;
  width: 20px;
  top: 0px;
  bottom: 0px;
  background: #FAFAFA;
  box-shadow: inset -4px 0 4px 0 rgba(25, 25, 25, 0.04); }

.scrollbar-component .thumb {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  height: 80px;
  z-index: 4000;
  background-color: rgba(0, 0, 0, 0.2); }

.scrollbar-component .highlight {
  position: absolute;
  width: 100%;
  background-color: #91bb04; }

/* StatusBar Component
-----------------------------------------------------*/
.status-bar-component {
  border-top: 1px solid #ddd;
  position: fixed;
  height: 25px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  line-height: 25px;
  font-size: 12px; }

.status-bar-component.error {
  background: #F4E2E2;
  color: #c83939; }

.status-bar-component.success {
  background: #E3EAD6;
  color: #476247; }

.status-bar-component .document-status {
  float: left;
  padding: 0 20px; }

.status-bar-component .icon {
  float: right;
  padding: 0 20px; }

.status-bar-component .message {
  float: right; }

/* Node Components
-----------------------------------------------------*/
/* Text Node Component */
.content-editor-component .content-node.text {
  padding-bottom: 20px; }

/* Text Annotations
-----------------------------------------------------*/
.annotation.strong {
  font-weight: bold; }

.annotation.emphasis {
  font-style: italic; }

/* Container Annotations
-----------------------------------------------------*/
.container-annotation.anchor {
  position: relative; }

.container-annotation.active.annotation-fragment {
  background-color: rgba(145, 187, 4, 0.2); }

/* Clipboar element
-----------------------------------------------------*/
.clipboard {
  position: fixed;
  opacity: 0.0;
  bottom: -1000px; }

/* Selection style sheets
-----------------------------------------------------*/
::selection {
  background: rgba(0, 0, 0, 0.1); }

::-moz-selection {
  background: rgba(0, 0, 0, 0.1); }

/* Custom Scrollbar styles
-----------------------------------------------------*/
.scrollbar-component.comments .highlight {
  background: #aaa; }

.scrollbar-component.cite_bib_item .highlight {
  background-color: #0b9dd9; }

/* Text Annotations
-----------------------------------------------------*/
.annotation.strong {
  font-weight: bold; }

.annotation.emphasis {
  font-style: italic; }

/* Node Components
-----------------------------------------------------*/
/* Text Node Component */
.content-editor-component .content-node.text {
  padding-bottom: 20px; }

/* Text Annotations
-----------------------------------------------------*/
.annotation.timecode {
  font-family: Courier;
  background: #444;
  color: #fff;
  font-size: 13px;
  padding: 2px 0;
  font-weight: 600; }

.annotation.strong {
  font-weight: bold; }

.annotation.emphasis {
  font-style: italic; }

/* Entity Reference */
.annotation.entity-reference {
  background: rgba(11, 157, 217, 0.2); }

.annotation.entity-reference.active {
  background: rgba(11, 157, 217, 0.6); }

/* Container Annotations
-----------------------------------------------------*/
.container-annotation.anchor {
  position: relative; }

.container-annotation.active.annotation-fragment {
  background-color: rgba(145, 187, 4, 0.2); }

.container-annotation.comment.annotation-fragment {
  background: rgba(255, 254, 99, 0.3); }

.container-annotation.comment.annotation-fragment.active {
  background: rgba(255, 254, 99, 0.8); }

/* Brackets for subject annotations
-----------------------------------------------------*/
.container-node.content .subject-references {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 30px; }

.container-node.content .subject-references .subject-reference {
  border-bottom: 1px solid #91bb04;
  border-top: 1px solid #91bb04;
  border-right: 1px solid #91bb04;
  width: 6px;
  position: absolute;
  top: 30px;
  right: 15px;
  height: 100px;
  cursor: pointer; }

.container-node.content .subject-references .subject-reference.level-1 {
  right: 30px; }

.container-node.content .subject-references .subject-reference.level-2 {
  right: 45px; }

.container-node.content .subject-references .subject-reference:hover {
  border-width: 2px; }

/*.container-node.content .subject-references .subject-reference:nth-child(even) {
  right: 15px;
}*/
.container-node.content .subject-references .subject-reference.selected {
  border-width: 3px; }

/* Selection style sheets
-----------------------------------------------------*/
::selection {
  background: rgba(0, 0, 0, 0.1); }

::-moz-selection {
  background: rgba(0, 0, 0, 0.1); }

/* Archivist Extensions
-----------------------------------------------------*/
/* Entities component
-----------------------------------------------------*/
.entity {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  border-left: 2px solid transparent;
  cursor: pointer; }

.show-entity-reference-panel-component .entity {
  cursor: auto;
  border-left: 2px solid transparent;
  border-bottom: none; }

.show-entity-reference-panel-component .entity:hover,
.show-entity-reference-panel-component .entity.active {
  border-left: 2px solid transparent; }

.entity:hover {
  border-left: 2px solid rgba(11, 157, 217, 0.3); }

.entity.active {
  background: white;
  border-left: 2px solid #0b9dd9; }

.entity .name {
  margin-right: 100px; }

.entity .type {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #888;
  font-size: 12px; }

.entity .edit {
  color: #505050;
  position: absolute;
  bottom: 20px;
  right: 20px; }

.entity .description {
  font-size: 12px;
  padding-top: 10px;
  margin-right: 30px; }

.entity .prison-type,
.entity .synonyms {
  font-size: 12px;
  padding-top: 10px;
  margin-right: 100px; }

.entity .country {
  font-size: 12px;
  padding-top: 10px;
  position: absolute;
  right: 20px;
  display: block;
  top: 40px; }

/* Prison Entity */
.entity.prison .type {
  color: #0b9dd9; }

.entity.toponym,
.entity.prison {
  min-height: 80px; }

/* Toponym Entity */
.entity.toponym .type {
  color: #56AB98; }

/* Person Entity */
.entity.person .type {
  color: #D2808A; }

/* Definition Entity */
.entity.definition .type {
  color: #A99C90; }

/* Comment component
-----------------------------------------------------*/
.edit-comment-panel-component,
.show-comment-panel-component {
  font-size: 14px; }
  .edit-comment-panel-component .button.action,
  .show-comment-panel-component .button.action {
    float: left;
    margin-top: 20px;
    margin-right: 10px;
    background: #444;
    color: #fff; }
    .edit-comment-panel-component .button.action:hover,
    .show-comment-panel-component .button.action:hover {
      background: #222; }
  .edit-comment-panel-component .button.action.cancel,
  .show-comment-panel-component .button.action.cancel {
    background: #eee;
    color: #444; }
    .edit-comment-panel-component .button.action.cancel:hover,
    .show-comment-panel-component .button.action.cancel:hover {
      background: #ddd; }
  .edit-comment-panel-component .comment-editor,
  .show-comment-panel-component .comment-editor {
    overflow: hidden;
    background: white;
    padding: 5px 20px 20px 20px;
    border-bottom: 1px solid #ddd; }
  .edit-comment-panel-component .comment-editor .body-nodes .paragraph,
  .show-comment-panel-component .comment-editor .body-nodes .paragraph {
    padding-bottom: 10px; }
  .edit-comment-panel-component .comment-content,
  .show-comment-panel-component .comment-content {
    padding: 20px; }
  .edit-comment-panel-component .meta,
  .show-comment-panel-component .meta {
    padding: 20px;
    padding-bottom: 0px;
    font-size: 12px; }
    .edit-comment-panel-component .meta .creator,
    .show-comment-panel-component .meta .creator {
      font-weight: 600; }
    .edit-comment-panel-component .meta .created-at,
    .show-comment-panel-component .meta .created-at {
      padding-left: 20px;
      font-style: italic; }

/* Comments Panel */
.resource-container .comments .comment {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  border-left: 2px solid transparent;
  cursor: pointer; }
  .resource-container .comments .comment:hover {
    background: #fff; }
  .resource-container .comments .comment .title {
    color: #777;
    font-size: 12px;
    background: rgba(255, 254, 99, 0.21); }
  .resource-container .comments .comment .comment-body {
    font-size: 14px;
    padding-top: 20px; }
  .resource-container .comments .comment .created-at {
    padding-left: 20px; }

/* Edit Subject Reference Panel
-----------------------------------------------------*/
.panel.tag-subject-panel-component {
  font-size: 12px; }

.panel.tag-subject-panel-component .subjects-tree {
  padding: 10px; }

.entities .no-results {
  padding: 20px;
  color: #777;
  font-style: italic; }

.search {
  height: 40px;
  border-bottom: 1px solid #ddd; }

.search .search-str {
  padding-left: 5px;
  width: 180px;
  font-size: 13px;
  position: absolute;
  top: 7px;
  left: 20px;
  height: 26px; }

.search select {
  position: absolute;
  top: 12px;
  right: 40px; }

.search .refresh {
  position: absolute;
  top: 9px;
  right: 15px;
  font-size: 18px;
  cursor: pointer; }

.search-result-state {
  padding: 4px 14px 4px 22px;
  font-style: italic;
  background: #fff;
  font-size: 13px;
  min-height: 32px; }

.search-result-state .add-entity {
  float: right;
  font-size: 15px; }

.search-result-state .add-entity a {
  padding: 0px 2px;
  color: #777; }

/* Custom scrollbar styles */
.scrollbar-component.entities .highlight {
  background-color: #0b9dd9; }

.scrollbar-component.edit-comment .highlight,
.scrollbar-component.show-comment .highlight,
.scrollbar-component.comments .highlight {
  background: #fffe63; }

.scrollbar-component.showEntityReference .highlight,
.scrollbar-component.tagentity .highlight {
  background-color: #0b9dd9; }

/* Tree component
-----------------------------------------------------*/
.tree-component {
  font-size: 12px;
  padding: 10px; }

.tree-component .tree-node {
  padding: 2px 0px;
  padding-left: 20px;
  overflow: auto;
  position: relative; }

.tree-component .tree-node a {
  color: #999; }

.tree-component .tree-node.selected > a {
  color: #333; }

.tree-component .tree-node:hover {
  /*background: #eee;*/ }

.tree-component .tree-node .expand-toggle {
  display: block;
  position: absolute;
  padding: 2px 6px;
  top: -2px;
  /*color: #444;*/
  left: 5px; }

.tree-component .tree-node .select-toggle {
  position: absolute;
  left: 25px;
  /*color: #444;*/
  margin-right: 10px;
  font-size: 15px; }

.tree-component .tree-node .name {
  display: block;
  font-weight: 600;
  /*color: #777;*/
  padding-left: 25px; }

/* Tree list component
-----------------------------------------------------*/
.tree-list-component {
  font-size: 12px;
  padding: 10px; }

.tree-list-component .tree-node {
  padding: 2px 0px;
  padding-left: 20px;
  overflow: auto;
  position: relative; }

.tree-list-component .tree-node a {
  color: #999; }

.tree-list-component .tree-node.selected > a {
  color: #333; }

.tree-list-component .tree-node:hover {
  /*background: #eee;*/ }

.tree-list-component .tree-node .expand-toggle {
  display: block;
  position: absolute;
  padding: 2px 6px;
  top: -2px;
  /*color: #444;*/
  left: 5px; }

.tree-list-component .tree-node .select-toggle {
  position: absolute;
  left: 25px;
  /*color: #444;*/
  margin-right: 10px;
  font-size: 15px; }

.tree-list-component .tree-node .name {
  display: block;
  font-weight: 600; }

/* Metadata Panel
-----------------------------------------------------*/
.metadata-panel-component .panel-content {
  padding: 0px 0px; }

.metadata-panel-component .label {
  font-size: 13px;
  color: #777; }

.metadata-panel-component .text-property {
  margin: 10px 0;
  display: block;
  background: white;
  padding: 3px 5px;
  font-size: 14px;
  border: 1px solid #eee; }

.metadata-panel-component .section h3 {
  font-weight: 600;
  padding-bottom: 10px; }

.metadata-panel-component .section {
  position: relative;
  padding: 20px 20px;
  border-bottom: 1px solid #ddd; }

.metadata-panel-component select {
  margin-bottom: 10px; }

.metadata-panel-component input[type="checkbox"] {
  float: left;
  margin: 6px 8px 0px 0px; }

/* prisons list */
.metadata-panel-component .entity-tags {
  margin-top: 10px;
  margin-bottom: 2px; }

.metadata-panel-component .entity-tag {
  margin-right: 10px;
  color: #555555;
  background: #efefef;
  border-radius: 4px;
  cursor: default;
  margin-top: 5px;
  padding: 2px 6px; }

.metadata-panel-component .entity-tag .name {
  padding-right: 5px;
  font-size: 14px; }

.metadata-panel-component a.remove-tag {
  color: #777;
  font-size: 12px; }

.metadata-panel-component .add-entity {
  font-size: 14px;
  margin-bottom: 10px;
  display: block; }

/* waypoints list */
.metadata-panel-component .waypoints .waypoint {
  margin-right: 10px; }

.metadata-panel-component .waypoints .waypoint .name {
  padding-right: 5px; }

.metadata-panel-component .waypoints .waypoint .density {
  width: 30px;
  font-size: 10px;
  margin: 0px 7px 0px 2px;
  position: relative;
  top: -2px; }

/* project location */
.project-location-wrapper {
  padding-bottom: 10px; }

.project-location-wrapper .add-entity {
  margin-bottom: 0px; }

/* Subject component
-----------------------------------------------------*/
.subject {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  border-left: 2px solid transparent;
  cursor: pointer; }

.subject:hover {
  border-left: 2px solid rgba(145, 187, 4, 0.3); }

.subject.active {
  background: white;
  border-left: 2px solid #91bb04; }

.clipboard {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  display: block;
  font-size: 1;
  z-index: -1;
  color: transparent;
  background: transparent;
  overflow: hidden;
  border: none;
  padding: 0;
  resize: none;
  outline: none;
  -webkit-user-select: text;
  user-select: text;
  /* Because for user-select:none, Safari won't allow input*/ }
