.sc-toponym {
  background: rgba(139, 195, 74, 0.1);
  border-bottom: 1px solid rgba(139, 195, 74, 0.3);
  cursor: pointer;
  padding: 0px 1px;
  color: inherit;
}

.sc-toponym.sm-highlighted {
  background: rgba(139, 195, 74, 0.4);
  border-bottom: 1px solid rgba(139, 195, 74, 0.7);
}

.se-highlight.sm-toponym {
  background-color: rgb(139, 195, 74);
}

.se-entity-entries .sc-entity-entry.se-toponym.se-active,
.se-entity-entries .sc-entity-entry.se-toponym.se-active:hover {
  border-left: 2px solid rgb(139, 195, 74);
}

.se-entity-entries .sc-entity-entry.se-toponym:hover {
  border-left: 2px solid rgba(139, 195, 74, 0.3);
}

.se-entity-entries .sc-entity-entry.se-toponym .se-title {
  margin-right: 160px;
  margin-bottom: 10px;
}

.sc-entity-entry.se-toponym .se-location {
  position: absolute;
  right: 20px;
  overflow: auto;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  top: 24px;
}

.se-entity-entries .sc-entity-entry.se-toponym .se-description {
  margin-right: 60px;
}

.sc-entity-entry.se-toponym .se-resource-link {
  right: 50px;
}

.sc-entity-entry.se-toponym .se-map-link {
  right: 20px;
}