/* LinkReference annotation */
.content-node .definition_reference {
  background: rgba(100, 255, 100, 0.075);

  color: #1B6685;
  border-bottom: 1px solid rgba(100, 255, 100, 0.4);
}

.content-node .definition_reference:hover, .content-node .definition_reference.active {
  background: rgba(100, 255, 100, 0.6);
}