.se-level-1 {
  padding-left: 20px;
}

.se-level-2 {
  padding-left: 50px;
}

.se-level-3 {
  padding-left: 80px;
}

.se-level-4 {
  padding-left: 110px;
}

.se-level-5 {
  padding-left: 140px;
}

.se-level-6 {
  padding-left: 170px;
}

.se-level-7 {
  padding-left: 200px;
}

.se-level-8 {
  padding-left: 230px;
}

.se-level-9 {
  padding-left: 260px;
}

.sc-subjects-page .se-collapse {
  width: 15px;
  font-size: 15px;
  margin-left: -15px;
}

.sc-subjects-page .se-level-1 .se-collapse {
  margin-left: 0px;
}

.sc-subjects-page .se-tree-node-description {
  border-bottom: none;
}

.sc-subjects-page .se-description {
  float: left;
}

.se-drop-before {
  border-top: 1px solid #4CAF50;
}

.se-drop-before .se-title::after {
  content: "\f101";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  top: -11px;
  bottom: -10px;
  left: 10px;
  font-size: 20px;
  color: #4CAF50;
}

.se-drop-after {
  border-bottom: 1px solid #4CAF50;
}

.se-drop-after .se-title::after {
  content: "\f101";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  bottom: -10px;
  left: 10px;
  font-size: 20px;
  color: #4CAF50;
}

.se-drop-drill {
  font-weight: bold;
}