/* Reset
---------------------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
/*ol, ul {
  list-style: none;
}*/
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

/* Use borderbox model */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-decoration: none;
}


/* Fonts and colors
---------------------------------
*/

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, Verdana, sans-serif;
  color: #505050;
  overflow: hidden;
}

a {
  color: #1B6685;
  font-weight: normal;
  text-decoration: none;
  -moz-transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
  -o-transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
  -webkit-transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
  transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
}

a:hover {
  color: rgba(11, 157, 217, 1);
}

.hidden {
  display: none !important;
}

/* Layout stuff
---------------------------------
*/

#container {
}

.searchbar {
  overflow: visible;
  z-index: 30000;
  padding: 20px 40px;
  padding-top: 30px;
  padding-bottom: 0px;

}

#container .panel-wrapper {
  overflow: auto;
}


/* Loading indicator */

.progress-bar {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 2px;
  z-index: 31000;
}

.progress-bar .progress {
  height: 2px;
  width: 0%;
  background: rgba(11, 157, 217, 1);
}

.progress-bar.loading .progress {
  transition: width 2s;
  -webkit-transition: width 2s;
  width: 30%;
}

.progress-bar.done .progress {
  transition: width 0.2s;
  -webkit-transition: width 0.2s;
  width: 100%;
}



/* Composer Component
-----------------------------------------------------*/

.composer-component .composer-menu {
  background: #444;
  height: 50px;
  overflow: auto;
}

.composer-component .composer-menu a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0px 10px;
  float: left;
  color: #ccc;
}

.composer-component .composer-menu a.active, .composer-component .composer-menu a:hover {
  background: #000;
  color: #fff;
}


/* Writer Component
-----------------------------------------------------*/

.writer-component {
  position: absolute;
  left: 0px;
  right: 0px;
  overflow: hidden;
  /*bottom: 25px;*/
  bottom: 25px;
  top: 0px;
}

.main-container {
  float: left;
  width: 60%;
  height: 100%;
  background: #fff;
  position: relative;
}

.resource-container {
  position: relative;
  float: right;
  border-left: 1px solid #ddd;
  width: 40%;
  height: 100%;
  background: #F8F8F8;
}


.writer-component .context-toggles {
  height: 40px;
  border-bottom: 1px solid #ddd;
}

.writer-component .context-toggles a.toggle-context {
  display: block;
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  color: #444;
  font-size: 12px;
  font-weight: 600;
}

.writer-component .context-toggles .dialog {
  float: right;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  background: #444;
  color: white;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.writer-component .context-toggles .dialog.editSubjectReference {
  background: rgba(145, 187, 4, 1);
}

.writer-component .context-toggles .dialog.tagentity {
  background: rgba(11, 157, 217, 1);
}


.writer-component .context-toggles .dialog .close-dialog {
  padding: 5px 10px;
  color: rgba(255,255,255,0.4);
}

.writer-component .context-toggles .dialog .close-dialog:hover {
  color: rgba(255,255,255, 1);
}

.writer-component .context-toggles a.toggle-context:hover {
  background: #eee;
  border-bottom: 1px solid #bbb;
}

.writer-component .context-toggles a.toggle-context.active {
  background: #eee;
  border-bottom: 1px solid #444;
}

/* Panels (Context panel)
-----------------------------------------------------*/

.panel {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.panel .panel-content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  line-height: 24px;
}

/* Dialog Panels (aka modal panels)
-----------------------------------------------------*/

.panel.dialog {
  /*top: 0px;*/
  background: #F8F8F8;
}

.panel.dialog .dialog-header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  height: 40px;
  /*background: #fff;*/
  border-bottom: 1px solid #ddd;
}

.panel.dialog .dialog-header .label {
  padding: 0px 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 39px;
  /*color: white;*/
  float: left;
}

.panel.dialog .dialog-header .cancel, .panel.dialog .dialog-header .done {
  font-size: 12px;
  /*color: #fff;*/
  font-weight: bold;
  line-height: 40px;
  padding: 0px 20px;
  float: right;
}

.panel.dialog .dialog-header .cancel:hover, .panel.dialog .dialog-header .done:hover {
  background: rgba(0,0,0,0.1);
}

/*.panel.dialog .panel-content {
  top: 40px;
}*/

/* Custom headers for entity tagging and subject tagging */
.panel.dialog.tag-entity-panel-component .dialog-header {
  /*background: rgba(11, 157, 217, 1);*/
}

.panel.dialog.edit-subject-reference-panel-component .dialog-header {
  /*background: rgba(145, 187, 4, 1);*/
}


/* Content Tools
-----------------------------------------------------*/

.content-tools-component {
  height: 40px;
  border-bottom: 1px solid #ddd;
}

.content-tools-component .tools {
  overflow: hidden;
  height: 40px;
}

.content-tools-component .tools a {
  display: block;
  float: left;
  height: 30px;
  width: 30px;
  margin: 5px;
  color: #444;
  line-height: 30px;
  text-align: center;
  opacity: 0.2;
}

.content-tools-component .tools a.timecode-tool-component {
  float: right;
}

.content-tools-component .tools a.strong-tool-component {
  float: right;
}

.content-tools-component .tools a.emphasis-tool-component {
  float: right;
}

.content-tools-component .tools a.tag-entity-tool-component {
  float: right;
}

.content-tools-component .tools a.tag-subject-tool-component {
  float: right;
}

.content-tools-component .tools a.active {
  opacity: 1.0;
}

.content-tools-component .tools a.selected {
  opacity: 1.0;
  background: #444;
  color: #fff;
}

.content-tools-component .tools a:hover {
  background: #eee;
}

.content-tools-component .tools a.selected:hover {
  background: #666;
}

/* Generic Panel styles
-----------------------------------------------------*/

.content-panel-component .container-node.content {
  position: relative;
}

.content-panel-component .title {
  padding: 20px 0px;
  font-size: 22px;
  font-weight: 600;
}

.content-panel-component .container-node.content .nodes {
  padding: 40px;
  padding-right: 60px;
  position: relative;
}

.content-panel-component .container-node.content .nodes > .content-node.text {
  padding-bottom: 20px;
}


/* Content Editor
-----------------------------------------------------*/

.content-panel-component {
  position: absolute;
  top: 40px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 20px;
}

/* Overrides .panel .panel-content */
.content-panel-component .panel-content {
  left: 20px;
}

/* Hide native scroll bar */
.content-panel-component .panel-content::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.content-panel-component .panel-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}


/* Scrollbar component
-----------------------------------------------------*/

.scrollbar-component {
  position: absolute;
  left: 0px;
  width: 20px;
  top: 0px;
  bottom: 0px;
  background: #eee;;
}

.scrollbar-component .thumb {
  position: absolute;
  top: 40px;
  left: 0px;
  right: 0px;
  height: 80px;
  z-index: 4000;
  background-color: rgba(0,0,0, 0.2);
}

.scrollbar-component .highlight {
  position: absolute;
  width: 100%;
  background-color: rgba(145, 187, 4, 1);
}

/* StatusBar Component
-----------------------------------------------------*/

.status-bar-component {
  background: #eee;
  border-top: 1px solid #ddd;
  position: fixed;
  height: 25px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  line-height: 25px;
  font-size: 12px;
}

.status-bar-component.error {
  background: #F4E2E2;
  color: rgb(200, 57, 57);
}

.status-bar-component.success {
  background: #E3EAD6;
  color: rgb(71, 98, 71);
}

.status-bar-component .document-status {
  float: left;
  padding: 0 20px;
}

.status-bar-component .icon {
  float: right;
  padding: 0 20px;
}


.status-bar-component .message {
  float: right;
}

/* Node Components
-----------------------------------------------------*/

/* Text Node Component */

.content-editor-component .content-node.text {
  padding-bottom: 20px;
}

/* Text Annotations
-----------------------------------------------------*/

.annotation.timecode {
  font-family: Courier;
  background: #444;
  color: #fff;
  font-size: 13px;
  padding: 2px 0;
  font-weight: 600;
}

.annotation.strong {
  font-weight: bold;
}

.annotation.emphasis {
  font-style: italic;
}

/* Entity Reference */

.annotation.entity-reference {
  background: rgba(11, 157, 217, 0.2);
}


.annotation.entity-reference.active {
  background: rgba(11, 157, 217, 0.6);
}


/* Container Annotations
-----------------------------------------------------*/

.container-annotation.anchor {
  position: relative;
}

.container-annotation.active .anchor-caret {
  display: block;
  position: absolute;
  bottom: -6px;
  left: -7px;
  cursor: pointer;

  /* This creates a rectangle shape*/
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(145, 187, 4, 1);
}

.container-annotation.active.annotation-fragment {
  background-color: rgba(145, 187, 4, 0.2);
}

/* Brackets for subject annotations
-----------------------------------------------------*/

.container-node.content .subject-references {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 50px;
}

.container-node.content .subject-references .subject-reference {
  border-bottom: 1px solid rgba(145, 187, 4, 1);
  border-top: 1px solid rgba(145, 187, 4, 1);
  border-right: 1px solid rgba(145, 187, 4, 1);

  width: 10px;
  position: absolute;
  top: 30px;
  height: 100px;
  cursor: pointer;
}

.container-node.content .subject-references .subject-reference:hover {
  border-width: 2px;
}

.container-node.content .subject-references .subject-reference:nth-child(even) {
  right: 15px;
}

.container-node.content .subject-references .subject-reference.selected {
  border-width: 3px;
}



/* Selection style sheets
-----------------------------------------------------*/


::selection {
  background: rgba(0,0,0,0.1);
}

::-moz-selection {
  background: rgba(0,0,0,0.1);
}



/* Archivist Extensions
-----------------------------------------------------*/


/* Entities component
-----------------------------------------------------*/

.entity {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  border-left: 2px solid transparent;
  cursor: pointer;
}


.entity:hover {
  border-left: 2px solid rgba(11, 157, 217, 0.3);
}

.entity.active {
  background: white;
  border-left: 2px solid rgba(11, 157, 217, 1);
}

.entity .type {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #888;
  font-size: 12px;
}


.entity .description {
  font-size: 12px;
  padding-top: 10px;
}

.entity .synonyms {
  font-size: 12px;
  padding-top: 10px;
  margin-right: 100px;
}

.entity .country {
  font-size: 12px;
  padding-top: 10px;
  position: absolute;
  right: 15px;
  display: block;
  top: 40px;
}

/* Prison Entity */

.entity.prison .type {
  color: rgba(11, 157, 217, 1);
}

/* Toponym Entity */

.entity.toponym .type {
  color: #56AB98;
}

/* Person Entity */

.entity.person .type {
  color: #D2808A;
}

/* Definition Entity */

.entity.definition .type {
  color: #A99C90;
}

/* Edit Subject Reference Panel
-----------------------------------------------------*/

.panel.tag-subject-panel-component {
  font-size: 12px;
}

.panel.tag-subject-panel-component .subjects-tree {
  padding: 10px;
}

.entities .no-results {
  padding: 20px;
  color: #777;
  font-style: italic;
}

.search {
  height: 40px;
  border-bottom: 1px solid #ddd;
}

.search .search-str {
  padding-left: 5px;
  width: 180px;
  font-size: 13px;
  position: absolute;
  top: 7px;
  left: 20px;
  height: 26px;
}

.search select {
  position: absolute;
  top: 9px;
  right: 20px;
}

/* Custom scrollbar styles */
.scrollbar-component.entities .highlight {
  background-color: rgba(11, 157, 217, 1);
}


/* Tree component
-----------------------------------------------------*/

.tree-component {
  font-size: 12px;
  padding: 10px;
}

.tree-component .tree-node {
  padding: 2px 0px;
  padding-left: 20px;
  overflow: auto;
  position: relative;
}

.tree-component .tree-node a {
  color: #999;
}

.tree-component .tree-node.selected > a {
  color: #333;
}


.tree-component .tree-node:hover {
  /*background: #eee;*/
}

.tree-component .tree-node .expand-toggle {
  display: block;
  position: absolute;
  padding: 2px 6px;
  top: -2px;
  /*color: #444;*/
  left: 5px;
}


.tree-component .tree-node .select-toggle {
  position: absolute;
  left: 25px;
  /*color: #444;*/
  margin-right: 10px;
  font-size: 15px;
}


.tree-component .tree-node .name {
  display: block;
  font-weight: 600;
  /*color: #777;*/
  padding-left: 25px;
}

/* Metadata Panel
-----------------------------------------------------*/

.metadata-panel-component .panel-content {
  padding: 20px;
}

.metadata-panel-component .label {
  font-size: 13px;
  color: #777;
}

.metadata-panel-component .text-property {
  margin: 10px 0;
  display: block;
  background: white;
  padding: 3px;
  border: 1px solid #eee;
}

/* Subject component
-----------------------------------------------------*/

.subject {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  border-left: 2px solid transparent;
  cursor: pointer;
}

.subject:hover {
  border-left: 2px solid rgba(145, 187, 4, 0.3);
}

.subject.active {
  background: white;
  border-left: 2px solid rgba(145, 187, 4, 1);
}