head
	title Substance Archivist
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	style(type='text/css')
		| body {-webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;background-position-x: 50%;background-position-y: 50%;background-repeat-x: no-repeat;background-repeat-y: no-repeat;background-attachment: fixed;font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;font-size: 14px;}
		| body.error {background-image: url(/assets/img/404.jpg);}
		| body.login {background-image: url(/assets/img/login.jpg);}
		| .overlay {background-color: #000;opacity: 0.1;width: 100%;height: 100%;position: absolute;top: 0;left: 0;}
		| .panel {width: 370px;position: absolute;top: 50%;left: 50%;margin: -83px 0px 0px -185px;height: 100px;padding: 20px 40px;color: #fff;text-shadow: 1px 1px 1px #000;}
		| a {color: #fff; text-decoration: none; border-bottom: 1px dashed #fff;}
		| body.login a.btn {position: absolute;top:50%;left:50%;margin: -40px 0px 0px -115px;}
		| a.btn {display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;text-decoration:none;}
		| a.btn-lg {padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;text-shadow: 1px 1px 1px #000;}
		| a.btn-default {color: #fff;background-color: rgba(0,0,0,0);border-color: #fff;}
		| a.btn-default:hover {background-color: rgba(38, 97, 18, 0.5);border-color: #5DBF56;transition: background-color 0.5s ease, border-color 0.5s ease;}