.sc-prison {
  background: rgba(255, 87, 34, 0.1);
  border-bottom: 1px solid rgba(255, 87, 34, 0.3);
  cursor: pointer;
  padding: 0px 1px;
  color: inherit;
}

.sc-prison.sm-highlighted {
  background: rgba(255, 87, 34, 0.4);
  border-bottom: 1px solid rgba(255, 87, 34, 0.7);
}

.se-highlight.sm-prison {
  background-color: rgb(255, 87, 34);
}

.se-entity-entries .sc-entity-entry.se-prison.se-active,
.se-entity-entries .sc-entity-entry.se-prison.se-active:hover {
  border-left: 2px solid rgb(255, 87, 34);
}

.se-entity-entries .sc-entity-entry.se-prison:hover {
  border-left: 2px solid rgba(255, 87, 34, 0.3);
}

.se-entity-entries .sc-entity-entry.se-prison .se-title {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 60px;
}

.sc-entity-entry.se-prison .se-prison-type {
  position: absolute;
  left: 20px;
  overflow: auto;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  top: 20px;
}

.sc-entity-entry.se-prison .se-location {
  position: absolute;
  right: 20px;
  overflow: auto;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  top: 20px;
}

.se-entity-entries .sc-entity-entry.se-prison .se-description {
  margin-right: 0px;
}

.sc-entity-entry.se-prison .se-resource-external-link {
  top: 53px;
}

.sc-entity-entry.se-prison .se-resource-link {
  right: 50px;
}

.sc-entity-entry.se-prison .se-map-link {
  right: 20px;
}