.se-level-1 {
  padding-left: 20px;
}

.se-level-2 {
  padding-left: 50px;
}

.se-level-3 {
  padding-left: 80px;
}

.se-level-4 {
  padding-left: 110px;
}

.se-level-5 {
  padding-left: 140px;
}

.se-level-6 {
  padding-left: 170px;
}

.se-level-7 {
  padding-left: 200px;
}

.se-level-8 {
  padding-left: 230px;
}

.se-level-9 {
  padding-left: 260px;
}