script#container(type='text/template')
	<div id="topbar">
	<header class="branding">Archivist</header>
	<nav class="topbar"></nav>
	<div class="user-section">
	<div class="username"><a href="/logout"><i class="fa fa-power-off"></i></a></div>
	<div class="userpic"></div>
	</div>
	</div>
	<div id="data-container">
	<div class="data-toolbox">
	<div class="toolbox">
	<div id="context-panel"></div>
	<div id="meter"></div>
	<div class="counter"></div>
	</div>
	</div>
	<div id="stackView" class="stackViewContainer"></div>
	</div>
script#mainmenu(type='text/template')
	<ul>
	<% items.each(function(item) { %>
	<li id="<%= item.get('id') %>" data-url="<%= item.get('url') %>">
	<i class="fa fa-<%= item.get('icon') %> fa-2x"></i>
	<span class="title"><%= item.get('name') %></span>
	</li>
	<% }) %>
	</ul>
script#contextmenu(type='text/template')
	<% items.each(function(item) { %>
	<button type="button" class="btn btn-default" data-fn="<%= item.get('fn') %>"><i class="fa fa-<%= item.get('icon') %>"></i> <%= item.get('name') %></button>
	<% }) %>
script#subjectsTreeLayout(type='text/template')
	<div id="context-panel" class="context-panel">
	<div class="subject-search animate">
	<span class="search">&nbsp;</span>
	<input type="search" id="search_subject" placeholder="Type to search..."/>
	</div>
	</div>
	<div class="tree"></div>
script#subjectModal(type='text/template')
	<div class="modal-body">
	<textarea id="description" placeholder="Describe subject here..."><% if (typeof(description) != "undefined"){ %><%= description %><% } %></textarea>
	</div>
	<div class="modal-footer">
	<a href="#" class="btn cancel">Cancel</a>
	<a href="#" class="btn ok">Save</a>
	</div>
	</script>
script#subjectDialog(type='text/template')
	<div class="dialog-header">
	<%= title %>
	</div>
	<div class="dialog-body">
	<%= description %>
	<div id="meter"></div>
	<div id="state"></div>
	</div>
	<div class="dialog-footer">
	<button class="bbm-button run"><%= action %></button>
	<button class="bbm-button cancel">Cancel</button>
	</div>
	</script>
script#locationsMap(type='text/template')
	<div id="location-map"></div>
	<div id="map-sidebar"></div>
script#editorLocationsDialog(type='text/template')
	<div class="dialog-body">
	<div id="meter"></div>
	<div id="state"></div>
	<div class="form location">
	<div class="editor-dialog-footer">
	<button class="cancel btn btn-default">Cancel</button>
	<button class="save btn btn-default">Save</button>
	<% if(remove) { %>
	<button class="delete btn btn-danger">Delete</button>
	<% } %>
	</div>
	</div>
	<div id="map-form"></div>
	<div id="geocode-selector" class="btn-group btn-group-xs" role="group" aria-label="..."></div>
	</div>
	</script>
script#editorDialog(type='text/template')
	<div class="dialog-body">
	<div id="meter"></div>
	<div id="state"></div>
	<div class="form">
	<div class="editor-dialog-footer">
	<button class="cancel btn btn-default">Cancel</button>
	<button class="save btn btn-default">Save</button>
	<% if(remove) { %>
	<button class="delete btn btn-danger">Delete</button>
	<% } %>
	</div>
	</div>
	</div>