/* SUBJECTS TREE */

.subjects .tree.jstree {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  padding-bottom: 120px;
  font-size: 13px;
}

.hidden-icon {
  display: none !important;
}

.subjects #search_subject {
  background: white;
  border: 1px solid #ccc;
  margin: 20px;
  padding: 3px;
}