/*
  Typography / Basics
---------------------------------------------*/

* {
  margin: 0;
  outline: none;
}

body {
  padding: 0;
  margin: 0;

  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  height:100%;
  -webkit-font-smoothing: antialiased;
}

/*
General Layout 
--------------------------------------- */

#container {
  position: relative;
  margin: 0 auto;
}

body #container {
  /*max-width: 1400px;*/ /* 988px / 16px = 61.75em */
  height: 100%;
  min-width: 800px;
}


body, textarea, p, input {
  font-family: 'Open Sans', Helvetica, Arial, Verdana, sans-serif;
  color: #505050;
}

a {
  color: #1B6685;
  font-weight: normal;
  text-decoration: none;
}

a:hover {
  color: rgba(11, 157, 217, 1);
}

img {
  border: none;
  padding: 0;
  margin: 0;
}

strong { font-weight: 700; }

h1, h2, h3 { 
  font-weight: 700;
}

h1 a { color: white; }
h1 a:hover { color: white; }

h2 {
  font-size: 1.75em; 
  padding-bottom: 20px;
}
  
h3, h4, h5, h6 {
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 700;
}
  
p {
  padding-bottom: 20px;
}

p:last-child { padding-bottom: 0; }

.small {
  color: #505050;
  font-size: .75em;
  font-weight: 400;
}

/* Use border-box box model */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


/* Article Overrides */
#container .article .resources .info .content-node.active .resource-header {
  background: #4A4A4A;
}


/* main
--------------------------------------- */

#main {
  position: relative;
}

body #main {
  height: 100%;
}



