.sc-comment {
  position: relative;
  background: #f7f9f9;
  color: #8c9393;
  font-size: 14px;
  border-bottom: 1px solid #eaefef;
  padding: 10px 20px;
  margin-bottom: 20px;
  overflow: auto;

  .se-comment-symbol {
    color: #e0e2e2;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .se-authored {
    color: #bfc4c4;
    font-style: italic;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }
}