.sc-tabbed-pane .se-tab-label > .se-label {
  font-weight: 600;
  display: inline-block;
  padding: 0px 5px;
}

/* Add spacing between icon and label */
.sc-tabbed-pane .se-tab-label > * + * {
  padding-left: 5px;
}

.sc-tabbed-pane .se-tabs {
  background-color: #fff;
}

.sc-tabbed-pane .se-tabs .se-tab {
  padding: 0px 14px!important;
}

.sc-tabbed-pane .se-tab-content {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.sc-tabbed-pane > .se-tabs .se-tab.sm-active {
  background: #eee;
  border-bottom: 1px solid #444;
}

/* Nested tabs */
.sc-tabbed-pane .sc-tabbed-pane .se-tabs {
  height: 32px;
}

.sc-tabbed-pane .sc-tabbed-pane .se-tabs .se-tab {
  display: block;
  padding: 6px 14px!important;
  color: rgba(0, 0, 0, 0.4);
  line-height: 18px;
  height: 32px;
  float: left;
  cursor: pointer;
}

.sc-tabbed-pane .sc-tabbed-pane .se-tab.sm-active {
  color: #444;
  background: rgba(0, 0, 0, 0.05);
  border-bottom: none;
}

.sc-tabbed-pane .sc-tabbed-pane .se-tab-content {
  top: 32px;
}