/* Composer style overrides */


/* Entity Panel
/* -------------------------- */

.panel.entities .entity {
  padding: 20px;
  position: relative;
  border-bottom: 1px solid #ddd;
  border-left: 3px solid transparent;
}

/* Hide unreferenced locations by default */
.panel.entities .entity.unreferenced {
	display: none;
}

/* Select button */
.panel.entities .entity .select-entity {
	position: absolute;
	display: none;
	right: 20px;
	bottom: 20px;
	background: #444;
	color: white;
	padding: 2px 5px;
	cursor: pointer;
}

/* Select Mode - triggered by workflow */
.panel.entities.select-mode .entity .select-entity {
	display: block;
}

.panel.entities.select-mode .entity.unreferenced {
	display: block;
}


/* Persons Panel
/* -------------------------- */

/* Highlight active person */
.panel.persons .person.active {
	background: #fff;
	border-left: 3px solid red;
}

/* Definitions Panel
/* -------------------------- */

/* Highlight active definition */
.panel.definitions .definition.active {
	background: #fff;
	border-left: 3px solid blue;
}


/* Locations Panel
/* -------------------------- */

/* Highlight active location */
.panel.locations .location.active {
	background: #fff;
	border-left: 3px solid rgba(245, 166, 35, 1);
}

.panel.locations .location .location-name {
	font-weight: 600;
	font-size: 16px;
}

.panel.locations .location .location-synonyms {
	padding-bottom: 20px;
	font-style: italic;
}

.panel.locations .location .location-type {
	position: absolute;
	top: 20px;
	right: 20px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 11px;
	color: #888;
}

.panel.locations .location .location-type.prison {
	color: rgb(177, 72, 22);
}

.panel.locations .location .location-type.locality {
	color: rgb(53, 134, 128);
}

/* Prison type */
.panel.locations .location .prison-type {

}


/* Subjects Panel */

.panel.subjects .available-subjects {
  padding: 20px;
}

.panel.subjects .header {
  padding: 5px 20px;
	font-size: 12px;
	font-weight: 600;
  /*background: #ccc;*/
  border-bottom: 1px solid #ddd;
}

.panel.subjects .header .actions {
	float: right;
}

.panel.subjects .actions .action {
	
	margin-right: 20px;
}

