head
	title Dashboard
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='charset' content='UTF-8')
	link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic' type='text/css')
	link(rel='stylesheet', href='/manager/manager.css')