// Substance styles
@import 'node_modules/substance/ui/styles/index';

html, body, #map {
  height: 100%;
  width: 100%;
}

#map_container {
  position: fixed;
  top: 10px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#sidebar {
	position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 6px 8px;
  background: rgba(255, 255, 255, 0.3);
  width: 350px;
  z-index: 999;
  -webkit-box-shadow: 0px 7px 7px 5px #ccc;
  -moz-box-shadow: 0px 7px 7px 5px #ccc;
  box-shadow: 0px 7px 7px 5px #ccc;
}

#filters {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 99999;
  border-radius: 3px;
  width: 240px;
  border: 1px solid rgba(0,0,0,0.4);
  font-size: 14px;
}

ul.map-filters {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul.map-filters li {
  padding: 10px 10px;
  cursor: pointer;
  opacity: 0.7;
  border-bottom: 1px solid #ADADAD;
  i {
    padding-right: 10px;
  }
}

ul.map-filters li.active {
  opacity: 1;
  border-left: 3px solid #A5D06C;
}

.leaflet-marker-icon.icon {
  border-radius: 50%;
  background-color: rgba(129, 180, 232, 0.3);
  color: rgba(64, 62, 62, 0.5);
  padding-top: 4px;
  padding-left: 6px;
  font-size: 21px;
  &:hover {
    background-color: rgba(129, 180, 232, 0.4);
    color: rgba(64, 62, 62, 0.7);
  }
}

.leaflet-marker-icon.icon-prison {
  padding-top: 6px;
  padding-left: 7px;
  font-size: 18px;
}

.leaflet-marker-icon i {
  pointer-events: none;
}

/* Marker tweaks */
.leaflet-popup-close-button {
  display:none;
}
.leaflet-popup-content {
  font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding:0;
  width:205px;

  div {
    padding:10px;
  }

  h3 {
    background: #A0A0A0;
    color: #fff;
    margin: 0;
    display: block;
    padding: 5px 10px;
    border-radius: 3px 3px 0 0;
    margin-top: -15px;
  }

  p.stats {
    padding: 10px;
    font-size: 12px;
  }
}
.leaflet-popup-content-wrapper {
  padding:0;
}